public/workflows/Dynamically_Calculate Price.json
{
    "name": "Dynamically calculate delivery price with 0codekit_@cchelagat",
    "flow": [
        {
            "id": 3,
            "module": "google-forms:watchResponses",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 2480112,
                "formId": "1hyoiDzSOCw2t7ov3XgLdqO3AcPRRtTBWtf5bYZmrSK4",
                "limit": 10
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 112,
                    "y": 2
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (catherinechelagat99@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "formId",
                        "type": "text",
                        "label": "Form ID",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "responseId",
                        "type": "text",
                        "label": "Response ID"
                    },
                    {
                        "name": "createTime",
                        "type": "date",
                        "label": "Create Time"
                    },
                    {
                        "name": "lastSubmittedTime",
                        "type": "date",
                        "label": "Last Submitted Time"
                    },
                    {
                        "name": "respondentEmail",
                        "type": "text",
                        "label": "Respondent Email"
                    },
                    {
                        "name": "answers",
                        "spec": [
                            {
                                "name": "4fc2ce3d",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "Email Address"
                            },
                            {
                                "name": "2fbdfd87",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "Delivery Address"
                            }
                        ],
                        "type": "collection",
                        "label": "Answers"
                    },
                    {
                        "name": "totalScore",
                        "type": "number",
                        "label": "Total Score"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "onesaas:calculateTripBetweenTwoLocations",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 2798940
            },
            "mapper": {
                "startPoint": "Gottfried-Arnold-Straße 3, 35398 Gießen",
                "endPoint": "{{3.answers.`2fbdfd87`.textAnswers.answers[].value}}",
                "mode": "driving"
            },
            "metadata": {
                "designer": {
                    "x": 412,
                    "y": 2
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My 0-CodeKit connection (Kate)",
                            "data": {
                                "scoped": "true",
                                "connection": "onesaas2"
                            }
                        }
                    },
                    "expect": {
                        "otherInputParameters": {
                            "mode": "chose"
                        },
                        "mode": {
                            "mode": "chose",
                            "label": "Driving"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:onesaas2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "otherInputParameters",
                        "type": "array",
                        "label": "Other Input Parameters",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Value"
                            }
                        ]
                    },
                    {
                        "name": "startPoint",
                        "type": "text",
                        "label": "Starting Location",
                        "required": true
                    },
                    {
                        "name": "endPoint",
                        "type": "text",
                        "label": "Destination Location",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Travel Mode",
                        "validate": {
                            "enum": [
                                "driving",
                                "walking",
                                "bicycling",
                                "transit"
                            ]
                        }
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 5,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 2480112
            },
            "mapper": {
                "from": "drive",
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING",
                "spreadsheetId": "1lQfSidooQubvlrgjxItIgu7C-OfvfuG3kfqdEvbvc3E",
                "sheetId": "Sheet1",
                "includesHeaders": true,
                "tableFirstRow": "A1:CZ1",
                "filter": [
                    [
                        {
                            "a": "A",
                            "o": "number:lessorequal",
                            "b": "{{4.distanceInKM}}"
                        },
                        {
                            "a": "B",
                            "o": "number:greaterorequal",
                            "b": "{{4.distanceInKM}}"
                        }
                    ]
                ],
                "sortOrder": "asc"
            },
            "metadata": {
                "designer": {
                    "x": 712,
                    "y": 2
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (catherinechelagat99@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "Price Validation Table"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Sheet1"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "tableFirstRow": {
                            "label": "A-CZ"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "orderBy": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "number",
                        "label": "Maximum number of returned rows"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "label": "Total number of bundles",
                        "type": "uinteger"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "label": "Bundle order position",
                        "type": "uinteger"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "label": "Row number",
                        "type": "number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "label": "Spreadsheet ID",
                        "type": "text"
                    },
                    {
                        "name": "__SHEET__",
                        "label": "Sheet",
                        "type": "text"
                    },
                    {
                        "name": "0",
                        "label": "Start Dist in km (A)",
                        "type": "text"
                    },
                    {
                        "name": "1",
                        "label": "End Dist in km (B)",
                        "type": "text"
                    },
                    {
                        "name": "2",
                        "label": "Price in Euros (C)",
                        "type": "text"
                    },
                    {
                        "name": "3",
                        "label": "(D)",
                        "type": "text"
                    },
                    {
                        "name": "4",
                        "label": "(E)",
                        "type": "text"
                    },
                    {
                        "name": "5",
                        "label": "(F)",
                        "type": "text"
                    },
                    {
                        "name": "6",
                        "label": "(G)",
                        "type": "text"
                    },
                    {
                        "name": "7",
                        "label": "(H)",
                        "type": "text"
                    },
                    {
                        "name": "8",
                        "label": "(I)",
                        "type": "text"
                    },
                    {
                        "name": "9",
                        "label": "(J)",
                        "type": "text"
                    },
                    {
                        "name": "10",
                        "label": "(K)",
                        "type": "text"
                    },
                    {
                        "name": "11",
                        "label": "(L)",
                        "type": "text"
                    },
                    {
                        "name": "12",
                        "label": "(M)",
                        "type": "text"
                    },
                    {
                        "name": "13",
                        "label": "(N)",
                        "type": "text"
                    },
                    {
                        "name": "14",
                        "label": "(O)",
                        "type": "text"
                    },
                    {
                        "name": "15",
                        "label": "(P)",
                        "type": "text"
                    },
                    {
                        "name": "16",
                        "label": "(Q)",
                        "type": "text"
                    },
                    {
                        "name": "17",
                        "label": "(R)",
                        "type": "text"
                    },
                    {
                        "name": "18",
                        "label": "(S)",
                        "type": "text"
                    },
                    {
                        "name": "19",
                        "label": "(T)",
                        "type": "text"
                    },
                    {
                        "name": "20",
                        "label": "(U)",
                        "type": "text"
                    },
                    {
                        "name": "21",
                        "label": "(V)",
                        "type": "text"
                    },
                    {
                        "name": "22",
                        "label": "(W)",
                        "type": "text"
                    },
                    {
                        "name": "23",
                        "label": "(X)",
                        "type": "text"
                    },
                    {
                        "name": "24",
                        "label": "(Y)",
                        "type": "text"
                    },
                    {
                        "name": "25",
                        "label": "(Z)",
                        "type": "text"
                    },
                    {
                        "name": "26",
                        "label": "(AA)",
                        "type": "text"
                    },
                    {
                        "name": "27",
                        "label": "(AB)",
                        "type": "text"
                    },
                    {
                        "name": "28",
                        "label": "(AC)",
                        "type": "text"
                    },
                    {
                        "name": "29",
                        "label": "(AD)",
                        "type": "text"
                    },
                    {
                        "name": "30",
                        "label": "(AE)",
                        "type": "text"
                    },
                    {
                        "name": "31",
                        "label": "(AF)",
                        "type": "text"
                    },
                    {
                        "name": "32",
                        "label": "(AG)",
                        "type": "text"
                    },
                    {
                        "name": "33",
                        "label": "(AH)",
                        "type": "text"
                    },
                    {
                        "name": "34",
                        "label": "(AI)",
                        "type": "text"
                    },
                    {
                        "name": "35",
                        "label": "(AJ)",
                        "type": "text"
                    },
                    {
                        "name": "36",
                        "label": "(AK)",
                        "type": "text"
                    },
                    {
                        "name": "37",
                        "label": "(AL)",
                        "type": "text"
                    },
                    {
                        "name": "38",
                        "label": "(AM)",
                        "type": "text"
                    },
                    {
                        "name": "39",
                        "label": "(AN)",
                        "type": "text"
                    },
                    {
                        "name": "40",
                        "label": "(AO)",
                        "type": "text"
                    },
                    {
                        "name": "41",
                        "label": "(AP)",
                        "type": "text"
                    },
                    {
                        "name": "42",
                        "label": "(AQ)",
                        "type": "text"
                    },
                    {
                        "name": "43",
                        "label": "(AR)",
                        "type": "text"
                    },
                    {
                        "name": "44",
                        "label": "(AS)",
                        "type": "text"
                    },
                    {
                        "name": "45",
                        "label": "(AT)",
                        "type": "text"
                    },
                    {
                        "name": "46",
                        "label": "(AU)",
                        "type": "text"
                    },
                    {
                        "name": "47",
                        "label": "(AV)",
                        "type": "text"
                    },
                    {
                        "name": "48",
                        "label": "(AW)",
                        "type": "text"
                    },
                    {
                        "name": "49",
                        "label": "(AX)",
                        "type": "text"
                    },
                    {
                        "name": "50",
                        "label": "(AY)",
                        "type": "text"
                    },
                    {
                        "name": "51",
                        "label": "(AZ)",
                        "type": "text"
                    },
                    {
                        "name": "52",
                        "label": "(BA)",
                        "type": "text"
                    },
                    {
                        "name": "53",
                        "label": "(BB)",
                        "type": "text"
                    },
                    {
                        "name": "54",
                        "label": "(BC)",
                        "type": "text"
                    },
                    {
                        "name": "55",
                        "label": "(BD)",
                        "type": "text"
                    },
                    {
                        "name": "56",
                        "label": "(BE)",
                        "type": "text"
                    },
                    {
                        "name": "57",
                        "label": "(BF)",
                        "type": "text"
                    },
                    {
                        "name": "58",
                        "label": "(BG)",
                        "type": "text"
                    },
                    {
                        "name": "59",
                        "label": "(BH)",
                        "type": "text"
                    },
                    {
                        "name": "60",
                        "label": "(BI)",
                        "type": "text"
                    },
                    {
                        "name": "61",
                        "label": "(BJ)",
                        "type": "text"
                    },
                    {
                        "name": "62",
                        "label": "(BK)",
                        "type": "text"
                    },
                    {
                        "name": "63",
                        "label": "(BL)",
                        "type": "text"
                    },
                    {
                        "name": "64",
                        "label": "(BM)",
                        "type": "text"
                    },
                    {
                        "name": "65",
                        "label": "(BN)",
                        "type": "text"
                    },
                    {
                        "name": "66",
                        "label": "(BO)",
                        "type": "text"
                    },
                    {
                        "name": "67",
                        "label": "(BP)",
                        "type": "text"
                    },
                    {
                        "name": "68",
                        "label": "(BQ)",
                        "type": "text"
                    },
                    {
                        "name": "69",
                        "label": "(BR)",
                        "type": "text"
                    },
                    {
                        "name": "70",
                        "label": "(BS)",
                        "type": "text"
                    },
                    {
                        "name": "71",
                        "label": "(BT)",
                        "type": "text"
                    },
                    {
                        "name": "72",
                        "label": "(BU)",
                        "type": "text"
                    },
                    {
                        "name": "73",
                        "label": "(BV)",
                        "type": "text"
                    },
                    {
                        "name": "74",
                        "label": "(BW)",
                        "type": "text"
                    },
                    {
                        "name": "75",
                        "label": "(BX)",
                        "type": "text"
                    },
                    {
                        "name": "76",
                        "label": "(BY)",
                        "type": "text"
                    },
                    {
                        "name": "77",
                        "label": "(BZ)",
                        "type": "text"
                    },
                    {
                        "name": "78",
                        "label": "(CA)",
                        "type": "text"
                    },
                    {
                        "name": "79",
                        "label": "(CB)",
                        "type": "text"
                    },
                    {
                        "name": "80",
                        "label": "(CC)",
                        "type": "text"
                    },
                    {
                        "name": "81",
                        "label": "(CD)",
                        "type": "text"
                    },
                    {
                        "name": "82",
                        "label": "(CE)",
                        "type": "text"
                    },
                    {
                        "name": "83",
                        "label": "(CF)",
                        "type": "text"
                    },
                    {
                        "name": "84",
                        "label": "(CG)",
                        "type": "text"
                    },
                    {
                        "name": "85",
                        "label": "(CH)",
                        "type": "text"
                    },
                    {
                        "name": "86",
                        "label": "(CI)",
                        "type": "text"
                    },
                    {
                        "name": "87",
                        "label": "(CJ)",
                        "type": "text"
                    },
                    {
                        "name": "88",
                        "label": "(CK)",
                        "type": "text"
                    },
                    {
                        "name": "89",
                        "label": "(CL)",
                        "type": "text"
                    },
                    {
                        "name": "90",
                        "label": "(CM)",
                        "type": "text"
                    },
                    {
                        "name": "91",
                        "label": "(CN)",
                        "type": "text"
                    },
                    {
                        "name": "92",
                        "label": "(CO)",
                        "type": "text"
                    },
                    {
                        "name": "93",
                        "label": "(CP)",
                        "type": "text"
                    },
                    {
                        "name": "94",
                        "label": "(CQ)",
                        "type": "text"
                    },
                    {
                        "name": "95",
                        "label": "(CR)",
                        "type": "text"
                    },
                    {
                        "name": "96",
                        "label": "(CS)",
                        "type": "text"
                    },
                    {
                        "name": "97",
                        "label": "(CT)",
                        "type": "text"
                    },
                    {
                        "name": "98",
                        "label": "(CU)",
                        "type": "text"
                    },
                    {
                        "name": "99",
                        "label": "(CV)",
                        "type": "text"
                    },
                    {
                        "name": "100",
                        "label": "(CW)",
                        "type": "text"
                    },
                    {
                        "name": "101",
                        "label": "(CX)",
                        "type": "text"
                    },
                    {
                        "name": "102",
                        "label": "(CY)",
                        "type": "text"
                    },
                    {
                        "name": "103",
                        "label": "(CZ)",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "email:ActionSendEmail",
            "version": 7,
            "parameters": {
                "account": 2798918,
                "saveAfterSent": false
            },
            "mapper": {
                "to": [
                    "{{3.answers.`4fc2ce3d`.textAnswers.answers[].value}}"
                ],
                "subject": "Price of Delivery",
                "contentType": "text",
                "attachments": [],
                "cc": [],
                "bcc": [],
                "from": "",
                "sender": "",
                "replyTo": "",
                "inReplyTo": "",
                "references": [],
                "priority": "normal",
                "headers": [],
                "text": "Hello, in with respect to the distance from our depot to your delivery address, the price of shipping will be {{5.`2`}}"
            },
            "metadata": {
                "designer": {
                    "x": 1012,
                    "y": 2
                },
                "restore": {
                    "parameters": {
                        "account": {
                            "label": "My Google Connection (catherine.chelagat@student.moringaschool.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            }
                        },
                        "saveAfterSent": {
                            "label": "No"
                        }
                    },
                    "expect": {
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "contentType": {
                            "label": "Plaintext"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "cc": {
                            "mode": "chose"
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "references": {
                            "mode": "chose"
                        },
                        "priority": {
                            "label": "Normal"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "saveAfterSent",
                        "type": "select",
                        "label": "Save message after sending",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "type": "array",
                        "label": "To",
                        "required": true,
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        }
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "html",
                                "text"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "type": "array",
                        "label": "Attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "label": "File name",
                                "type": "filename",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "label": "Data",
                                "type": "buffer",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "label": "Content-ID",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "cc",
                        "type": "array",
                        "label": "Copy recipient",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        }
                    },
                    {
                        "name": "bcc",
                        "type": "array",
                        "label": "Blind copy recipient",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        }
                    },
                    {
                        "name": "from",
                        "type": "text",
                        "label": "From"
                    },
                    {
                        "name": "sender",
                        "type": "text",
                        "label": "Sender"
                    },
                    {
                        "name": "replyTo",
                        "type": "text",
                        "label": "Reply-To"
                    },
                    {
                        "name": "inReplyTo",
                        "type": "text",
                        "label": "In-Reply-To"
                    },
                    {
                        "name": "references",
                        "type": "array",
                        "label": "References",
                        "spec": {
                            "type": "text",
                            "label": "Reference",
                            "required": true,
                            "name": "value"
                        }
                    },
                    {
                        "name": "priority",
                        "type": "select",
                        "label": "Priority",
                        "validate": {
                            "enum": [
                                "high",
                                "normal",
                                "low"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": [
                            {
                                "name": "key",
                                "label": "Key",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text",
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Content"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}