public/workflows/Encrypt_files_blueprint.json
{
    "name": "Integration Google Drive",
    "flow": [
        {
            "id": 1,
            "module": "google-drive:watchFilesInAFolder",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 2798918,
                "select": "modify",
                "destination": "drive",
                "mimeType": "all",
                "limit": 2,
                "folderId": "/1B7l4kKbiJoWW0ReojlpqVos5QIgMZUYR"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "Watch for changes in files"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google Connection (catherine.chelagat@student.moringaschool.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            }
                        },
                        "select": {
                            "label": "By Modified Time"
                        },
                        "destination": {
                            "label": "My Drive"
                        },
                        "mimeType": {
                            "label": "All"
                        },
                        "folderId": {
                            "path": [
                                "0CodeKit "
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Watch Files",
                        "required": true,
                        "validate": {
                            "enum": [
                                "create",
                                "modify"
                            ]
                        }
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "mimeType",
                        "type": "select",
                        "label": "File Types to Watch",
                        "required": true,
                        "validate": {
                            "enum": [
                                "all",
                                "document",
                                "spreadsheet",
                                "slide",
                                "drawing"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "Select the Folder to be Watched",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "google-drive:getAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 2798918
            },
            "filter": {
                "name": "not encrypted",
                "conditions": [
                    [
                        {
                            "a": "{{1.name}}",
                            "o": "text:notcontain:ci",
                            "b": "encrypted"
                        }
                    ]
                ]
            },
            "mapper": {
                "select": "value",
                "formatDocuments": "application/pdf",
                "formatSpreadsheets": "application/pdf",
                "formatPresentations": "application/pdf",
                "formatDrawings": "application/pdf",
                "destination": "drive",
                "file": "/1B7l4kKbiJoWW0ReojlpqVos5QIgMZUYR/{{1.id}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "Get that file"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google Connection (catherine.chelagat@student.moringaschool.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Select from the list"
                        },
                        "formatDocuments": {
                            "label": "PDF"
                        },
                        "formatSpreadsheets": {
                            "label": "PDF"
                        },
                        "formatPresentations": {
                            "label": "PDF"
                        },
                        "formatDrawings": {
                            "label": "PDF"
                        },
                        "destination": {
                            "label": "My Drive"
                        },
                        "file": {
                            "path": [
                                "1B7l4kKbiJoWW0ReojlpqVos5QIgMZUYR",
                                "{{1.id}}"
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a File ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "formatDocuments",
                        "type": "select",
                        "label": "Convert Google Documents Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                                "application/pdf",
                                "application/vnd.oasis.opendocument.text",
                                "text/html",
                                "text/plain",
                                "application/rtf"
                            ]
                        }
                    },
                    {
                        "name": "formatSpreadsheets",
                        "type": "select",
                        "label": "Convert Google Spreadsheets Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                                "application/x-vnd.oasis.opendocument.spreadsheet",
                                "application/pdf"
                            ]
                        }
                    },
                    {
                        "name": "formatPresentations",
                        "type": "select",
                        "label": "Convert Google Slides Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.presentationml.presentation",
                                "application/pdf"
                            ]
                        }
                    },
                    {
                        "name": "formatDrawings",
                        "type": "select",
                        "label": "Convert Google Drawings Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "image/jpeg",
                                "image/png",
                                "image/svg+xml",
                                "application/pdf"
                            ]
                        }
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "file",
                        "type": "file",
                        "label": "File ID",
                        "required": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 3,
            "module": "onesaas:encryptPDF",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 2798940
            },
            "mapper": {
                "endpoint": "buffer",
                "getAsUrl": false,
                "userPassword": "Kat@automate254",
                "ownerPassword": "Kat@automate254",
                "value": "{{2.data}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My 0-CodeKit connection (Kate)",
                            "data": {
                                "scoped": "true",
                                "connection": "onesaas2"
                            }
                        }
                    },
                    "expect": {
                        "otherInputParameters": {
                            "mode": "chose"
                        },
                        "endpoint": {
                            "label": "Buffer"
                        },
                        "getAsUrl": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:onesaas2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "otherInputParameters",
                        "type": "array",
                        "label": "Other Input Parameters",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Value"
                            }
                        ]
                    },
                    {
                        "name": "endpoint",
                        "type": "select",
                        "label": "URL or Buffer of the PDF file",
                        "required": true,
                        "validate": {
                            "enum": [
                                "url",
                                "buffer"
                            ]
                        }
                    },
                    {
                        "name": "getAsUrl",
                        "type": "boolean",
                        "label": "Get As URL",
                        "required": true
                    },
                    {
                        "name": "userPassword",
                        "type": "password",
                        "label": "User Password",
                        "required": true
                    },
                    {
                        "name": "ownerPassword",
                        "type": "password",
                        "label": "Owner Password"
                    },
                    {
                        "name": "value",
                        "type": "buffer",
                        "label": "PDF File",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "google-drive:uploadAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 2798918
            },
            "mapper": {
                "select": "value",
                "title": "Encrypted {{1.name}}",
                "filename": "{{2.name}}",
                "data": "{{3.data}}",
                "convert": false,
                "destination": "drive",
                "folderId": "/1B7l4kKbiJoWW0ReojlpqVos5QIgMZUYR"
            },
            "metadata": {
                "designer": {
                    "x": 934,
                    "y": 4,
                    "name": "Upload the encrypted pdf to google drive"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google Connection (catherine.chelagat@student.moringaschool.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Select from the list"
                        },
                        "destination": {
                            "label": "My Drive"
                        },
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "0CodeKit "
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a Folder ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "New File Name"
                    },
                    {
                        "name": "filename",
                        "type": "text",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "convert",
                        "type": "boolean",
                        "label": "Convert a File",
                        "required": true
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "New Drive Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Folder Location",
                        "required": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 7,
            "module": "google-drive:deleteAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 2798918
            },
            "mapper": {
                "select": "map",
                "select1": "file",
                "file": "{{2.id}}"
            },
            "metadata": {
                "designer": {
                    "x": 1234,
                    "y": 4,
                    "name": "Delete the original "
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google Connection (catherine.chelagat@student.moringaschool.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Enter manually"
                        },
                        "select1": {
                            "label": "File"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a File/Folder ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "select1",
                        "type": "select",
                        "label": "Select File/Folder",
                        "required": true,
                        "validate": {
                            "enum": [
                                "file",
                                "folder"
                            ]
                        }
                    },
                    {
                        "name": "file",
                        "type": "text",
                        "label": "File ID",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}